@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;500;700&display=swap");
@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

input:checked + div {
  @apply bg-primary;
  @apply border-none;
}
input:checked + div svg {
  @apply block;
}

.swiper {
  width: 100% !important;
  transform: translateX(-85px) !important;
  overflow: visible !important;
}
.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 15% !important;
  height: 540px !important;
  filter: blur(1.5px) !important;
}
.swiper-slide-active {
  filter: blur(0px) !important;
}
.swiper-slide img {
  display: block !important;
  width: 100% !important;
}

